    <!--JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/index.js"></script>
    <!--Load JavaScript settings for each individual page-->
    <script src="/Scripts/<%= page %>.js"></script>
  </body>
</html>