<!--Main Content-->
<main>
<div class="headerImgContainer">
    <div class="headerImage">
        <div class="title">Explore</div>
        <span class="sub_title">The Personal Journey</span>
    </div>
</div>

<!--Introduction Section-->
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Personal Experience and Introduction</h1>
            <p class="lead">I'm a student in Software Engineering Technology. I completed my B.Sc. degree in Statistics, Mathematics, and
            Physics at the University of Toronto. During my studies, I found that programming was something I really enjoyed. So I
            came to Centennial College hoping to learn about it.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" onclick="window.location.href='/Assets/documents/Resume.pdf';">My Resume</button>
                <button type="button" class="btn btn-outline-dark btn-lg px-4 fw-bold" onclick="window.location.href='/home';">Back to Home Page</button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3 personalImg" src="/Assets/images/personal_photo.JPG" alt="Personal photo" width="431" height="456">
        </div>
    </div>
</div>
</main>
