<!--Header Content-->
<header class="headerContent">
    <div class="text-content">
        <div class="text">Hi! Is there something you want to tell me?</div>
        <div class="name">You can contact me here</div>
        <div class="job">
            <div class="job">
                <span>Please let me know</span>
                <div class="typing-text">
                    <span class="one">if have</span>
                    <span class="two">a question</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="/Assets/images/outdoorNew.jpeg" alt="out door">
    </div>
</header>

<!--Main Content-->
<main class="my-5">
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Elizabeth Street</div>
                    <div class="text-two">Toronto ON</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+1 (647) 9286118</div>
                    <div class="text-two">+1 (416) 8371513</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">nzhang26@my.centennialcollege.ca</div>
                    <div class="text-two">xuanr.zhang@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send me a message</div>
                <p>If you have any questions from me or any types of queries related to my services, you can leave me a message.
                It's my pleasure to help you, and I will get back to you as soon as possible</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name" id="name">
                        <p id="nameError" class="errorMsg"></p>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email" id="email">
                        <p id="emailError" class="errorMsg"></p>
                    </div>
                    <div class="input-box message-box">
                        <textarea placeholder="Enter your message" id="message"></textarea>
                        <p id="messageError" class="errorMsg"></p>
                    </div>
                    <div class="button">
                        <input type="button" value="Send Now" id="sendMessage">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>