<!--Main Content-->
<main>
  <div id="headerImage">
    <img src="/Assets/images/index_header_image.JPG" alt="Author looking into the distance">
  </div>
  <div class="center">
    <div class="title">Celebrating the beauty of coding</div>
    <div class="sub_title">Let's programming</div>
    <div class="headerButtons">
      <button onclick="window.location.href='/about_me';">About Me</button>
      <button onclick="window.open('https://www.centennialcollege.ca/','_blank');">My School</button>
    </div>
  </div>

  <!--Introduction Words-->
  <div id="introduction">
    <a>Hi, welcome to my website. I'm a student at Centennial College and pursuing a career in software development.
    <span class="colored">Programming</span> is definitely one of my favourite things to do. Apart from that, I enjoy <span class="colored">sports</span>, especially <span class="colored">soccer</span>. When I have time, I also play the <span class="colored">violin</span> and the <span class="colored">piano</span>.
    </a>
  </div>
</main>



