
<!--Main Content-->
<main>
<div class="banner">
    <h1 class="banner-head">
        My Programming Projects<br>
        Personal Work Collection
    </h1>
</div>

<!--Projects Section-->
<div class="section grey">
    <header>
        <div class="header-img">
            <img src="/Assets/images/machine_learning_project.jpeg" alt="Machine learning project">
        </div>
        <div class="text">
            <h1>Machine Learning Project</h1>
            <p>Implemented various machine learning techniques using Python such as KNN, Neural Network to build a forecasting model to
            predict earnings growth based on various attributes. Conducted feature engineering by creating dummy variables,
            increased number of variables and enhanced model accuracy</p>
        </div>
    </header>
</div>
<div class="section white">
    <header>
        <div class="text">
            <h1>Data Analytical Project</h1>
            <p>Cleansed the database via SAS data step and Proc Univariate functions to remove outliers and ensure high-quality
            databases. Coded SAS macros (SAS PROC SGPLOT and ODS) to automate reporting and visualize data trends. Utilized SQL to
            update data via multiple sources and leveraged SQL solutions</p>
        </div>
        <div class="header-img">
            <img src="/Assets/images/data_science_project.png" alt="Data analytical project">
        </div>
    </header>
</div>
<div class="section grey">
    <header>
        <div class="header-img">
            <img src="/Assets/images/study_room_booking_system.png" alt="Study room booking system">
        </div>
        <div class="text">
            <h1>Study Room Booking</h1>
            <p>Addressed the issue of booking a study room at Centennial College with mobile devices by providing an easy-to-use mobile
            application that allows students to schedule and manage their bookings quickly on phones or tablets. Provided
            an enticing interface and additional features to enhance the service</p>
        </div>
    </header>
</div>
<div class="section white">
    <header>
        <div class="text">
            <h1>Database for Insurance</h1>
            <p>Provided effective services based on client information and analyze client data to track client behaviour. The built
            database consists of seven tables. E.g., "Client" table includes child tables "Account", "Distribution", "Claim",
            "Product" and "Secondary Client". "Product" table includes child table "Issuance"</p>
        </div>
        <div class="header-img">
            <img src="/Assets/images/insurance_company_database.png" alt="Insurance company database">
        </div>
    </header>
</div>
</main>
