<!--Header Content-->
<header>
    <div class="content">
        <div class="content__container">
            <p class="content__container__text">
                Hello
            </p>
            <ul class="content__container__list">
                <li class="content__container__list__item">world !</li>
                <li class="content__container__list__item">customer !</li>
                <li class="content__container__list__item">visitor !</li>
                <li class="content__container__list__item">everybody !</li>
            </ul>
        </div>
    </div>
    <div class="headerText">Feel free to try out the services offered</div>
    <div class="topImg">
        <img src="/Assets/images/inDoor.jpeg" alt="in door">
    </div>
</header>

<!--Main Content-->
<main>
    <div class="b-example-divider"></div>
    
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Services Provided</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('/Assets/images/general_programming.png');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">General Programming</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="/Assets/images/logo.png" alt="Logo" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <i class="fa-solid fa-location-dot fa-lg me-2"></i>
                                <small>Toronto</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="fa-solid fa-calendar-check fa-lg me-2"></i>
                                <small>Available</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('/Assets/images/web_development.png');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Web Development</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="/Assets/images/logo.png" alt="Logo" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <i class="fa-solid fa-location-dot fa-lg me-2"></i>
                                <small>Toronto</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="fa-solid fa-clock fa-lg me-2"></i>
                                <small>Working on it</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('/Assets/images/mobile_apps.png');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mobile Applications</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="/Assets/images/logo.png" alt="Logo" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <i class="fa-solid fa-location-dot fa-lg me-2"></i>
                                <small>Toronto</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="fa-solid fa-calendar-check fa-lg me-2"></i>
                                <small>Available</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="b-example-divider"></div>
</main>
